.ui-sidebar {
	-fx-background-color: #333333;
}

.ui-sidebar-button {
	-fx-text-fill: white;
	-fx-background-radius: 0;
	-fx-background-color: #333333;
	-fx-font-size: 18;
}

.ui-sidebar-button:hover {
	-fx-background-color: #404040;
}

.ui-sidebar-button-active {
	-fx-background-color: #4d4d4d;
	-fx-border-color: #43bc62;
	-fx-border-width: 0 0 0 5;
}

.ui-button {
	-fx-background-color: #43bc62;
	-fx-text-fill: white;
	-fx-font-size: 20;
}

.ui-textfield {
	-fx-font-size: 16;
	-fx-background-color: #e6e6e6;
	-fx-background-radius: 4;
	-fx-border-color: #43bc62;
	-fx-border-width: 0 0 5 0;
}